@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box ;
   font-family:'poppins',sans-serif ;
}
html{
  width:100%;
  height:100vh;
}
body{
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,#0a0a0a,#3a4452);
}
.calculater{
  border:1px solid #717377;
  padding:20px;
  border-radius: 16px;
  background:transparent ;
  box-shadow:0px 3px 15px rgba(113,115,119,0.5)
}
input{
  width:350px;
  border: none;
  padding:24px;
  margin: 10px;
  background:transparent;
  box-shadow: 0px 3px 15px rgba(84,84,84,0.1);
  font-size:40px;
  text-align:right;
  cursor:pointer;
  color : #ffffff;
}
input::placholder{
  color: #ffffff;
}
  button{
    border:none;
    width:60px;
    margin:10px;
    border-radius:5%;
    background :transparent;
    color:#ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor:pointer;
  }

.equalB{
background: #fb7c14;

}
.operatar{
  background-color: rgb(184, 184, 59);
   justify-content: center;
}